/* 
   *   CSS using SCSS
     * Created By: Don Page on 4/1/15
   *   @DonRPage
 *      
*/

$color-primary: #00356c; //#053869;
$color-secondary: #1096e6;

$bg-primary-dark: #eaeae0;
$bg-secondary-light: #f3f2ea;
$bg-white: #FFF;

 


 
 
