<!doctype html>
<html>
    <head>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/options.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="dojjaOptionsApp" ng-csp>

    <header>

      <div class="logo-wrapper">
        <img src="images/icon-128.png"/>
      </div>

    </header>

    <div ng-controller="projectsController" class="content-wrapper">
      <div ng-controller='formController' class="row big clearfix">
        <div class="block half plus pink">

        </div>
        <div class="block small create">
          <h6 class="light-font">Create Project</h6>

          <form ng-submit="addProject(pName, pURL, pImg)">
            <input ng-model="pName" type="text" placeholder="name"/>
            <input ng-model="pURL" type="url" placeholder="http://site.com/"/>
            <input ng-model="pImg" type="url" placeholder="image"/>
            <input ng-click="addProject(pName, pURL, pImg)" class="btn" type="submit"/>
          </form>
        </div>
      </div>


      <div class="row rowProject clearfix" ng-repeat="project in projects">
        <div class="block half ">
          <img class="picture" ng-src="{{ project.img }}" alt="bg pic"/>
        </div>
        <div class="block half scroll-y">
          <h4 class="light-font">{{ project.name }} // <a target="_blank" ng-href="{{ project.url }}">link</a></h4>
          <input ng-click="addNewPage(project.name)" type="button" value="add page" class="btn"/>
          <!--<input type="search" ng-model="pageSearchQ"/>-->
          <div  class="pages-wrapper">
            <div ng-switch on="(editIndex == $index)" ng-repeat="page in project.pages track by $index" class="page clearfix">
              <div ng-switch-default class="default">
                <input ng-click="editPage($index, project.name, page._parent)" type="button" class="edit btn" value="edit"/>
                <input ng-click="trashPage(project.name, page._parent)" class="trash btn" type="button" value="trash"/>
                <input ng-click="setActive(project.name, page._parent)" class="set btn" type="button" value="set"/>

                <p><b>Page name:</b> {{ page.name }} ( {{ page.href }} ) </p>
                <!--<p><b>Assigned:</b> {{ page.assigned }}</p>-->
                <p><b>Progress:</b> {{ page.progress }}</p>

                <div class="time created">
                  <b>created</b> <span am-time-ago="page.created"></span>.
                  <b>latest edit</b> <span am-time-ago="page.lastEdit"></span>
                </div>
              </div>
              <div ng-switch-when="true" class="edit">
                <input ng-click="saveEdits(project.name, shadowPage._parent, saveName, saveAssigned, saveHref)" type="button" class="save btn" value="save"/>
                <input ng-click="cancelEdit()" type="button" class="cancel btn" value="x"/>
                <input ng-model="saveName" type="text" value="{{ shadowPage.name }}"/>
                <input ng-model="saveAssigned" type="text" value="{{ shadowPage.assigned }}"/>
                <input ng-model="saveHref" type="text" value="{{ shadowPage.href }}"/>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

    <div ng-controller="optionsController">
      <!--<h1> don!!!! {{ message }}</h1>-->
      <!--<h3>{{ data.test }}</h3> yes! {{ data.number }}-->
      <!--<p>{{ testInput }}<input type="text" ng-model="testInput"/></p>-->
    </div>

                
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/options.js -->
        <script src="scripts/options.js"></script>
        <!-- endbuild -->
    </body>
</html>
